################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/Solutions/Solution/obj
/C#/Solutions/Solution/bin/Debug/netcoreapp3.1
/C#/Solutions/.vs/Solutions/DesignTimeBuild
/C#/Solutions/.vs/Solutions/v16/TestStore/0
/C#/Solutions/.vs/Solutions/v16/.suo
/C#/Solutions/Day1/Solution/bin/Debug/netcoreapp3.1
/C#/Solutions/Day1/Solution/obj/Debug/netcoreapp3.1
/C#/Solutions/Day1/Solution/obj
